body {
    background-image: url('/images/Fondos.jpg'); /* Replace 'path/to/Fondos.jpg' with the actual path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.save-container {
    width: 300px;
    /* 너비 조정 */
    padding: 30px;
    /* 패딩 조정 */
    border: 2px solid #969696;
    /* 테두리 스타일과 색상 조정 */
    border-radius: 10px;
    /* 둥근 모서리 추가 */
    background-color: #fffcfb;
}

.save-title {
    color: #2ec3dc;
    text-align: center;
    margin-bottom: 140px;
    font-size: 60px;
    @font-face {
        font-family: 'ImcreSoojin';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
}

.save-form {
    text-align: left;
}

/* 로그인 입력 칸 스타일 */
.save-form label,
.save-form input {
    display: block;
    margin-bottom: 10px;
    width: calc(100% - 20px); /* 패딩을 고려하여 너비 조정 */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: auto; /* 입력 칸을 오른쪽으로 이동하여 가운데 정렬 */
    margin-right: auto;
}

.signup-button {
    background-color: #82dbe7;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.signup-button {
    text-align: center;
}